{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="mt-5 mx-2">
  <p><a href="admin/">Admin</a></p>
  <p><a href="{% url 'venda:list' %}">Lista de Pedidos</a></p>
  <p><a href="/venda/apriori?item_a=P01,P02">Exemplo Apriori</a></p>
</div>

<hr class="my-5 mx-2">

<div class="row border border-warning shadow m-2 mb-4">
  <div class="col-lg-7 p-4">
    <h5 class="fw-bold text-warning">Previsões com Prophet</h5>
    <img src="{% static 'fig1.png' %}" />
  </div>
  <div class="col-lg-7 p-4">
    <h5 class="fw-bold text-warning">Componentes do Prophet</h5>
    <img src="{% static 'fig2.png' %}" />
  </div>
</div>
{% endblock %}