<nav class="float-end">
  <ul class="pagination">
    {% if pages.1 %}
    <li class="page-item">
      <a class="page-link" href="?p=1">
        <i class="fa-solid fa-angles-left"></i>
      </a>
    </li>
    {% endif %}

    {% if pages.2 %}
    <li class="page-item">
      <a class="page-link" href="?p={{ pages.2 }}">
        {{ pages.2 }}
      </a>
    </li>
    {% endif %}

    {% if pages.3 %}
    <li class="page-item">
      <a class="page-link" href="?p={{ pages.3 }}">
        {{ pages.3 }}
      </a>
    </li>
    {% endif %}

    {% if pages.4 %}
    <li class="page-item">
      <a class="page-link" href="?p={{ pages.4 }}">
        {{ pages.4 }}
      </a>
    </li>
    {% endif %}

    <li class="page-item active">
      <a class="page-link" href="javascript:void(0)">{{ pages.5 }}</a>
    </li>

    {% if pages.6 %}
    <li class="page-item">
      <a class="page-link" href="?p={{ pages.6 }}">
        {{ pages.6 }}
      </a>
    </li>
    {% endif %}

    {% if pages.7 %}
    <li class="page-item">
      <a class="page-link" href="?p={{ pages.7 }}">
        {{ pages.7 }}
      </a>
    </li>
    {% endif %}

    {% if pages.8 %}
    <li class="page-item">
      <a class="page-link" href="?p={{ pages.8 }}">
        {{ pages.8 }}
      </a>
    </li>
    {% endif %}

    {% if pages.9 %}
    <li class="page-item">
      <a class="page-link" href="?p={{ pages.9 }}">
        <i class="fa-solid fa-angles-right"></i>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>