{% load l10n %}
{% load static %}

<form method="post">
  {% csrf_token %}

  <div class="row border border-warning shadow m-2 mb-4">
    <!-- SELECT DO CLIENTE -->
    <div class="col-lg-7 p-4">
      <h5 class="fw-bold text-warning">Cliente</h5>
      <select class="form-select fw-bold mb-3" id="select-cliente" name="select-cliente" onchange="selecionar_cliente(this.value)" autofocus>
        <option value="" selected>Selecione seu cliente...</option>
        {% for cliente in clientes %}
        <option value="{{ cliente.id }}">{{ cliente.nome }} - {{ cliente.endereco }}</option>
        {% endfor %}
      </select>
      {% for cliente in clientes %}
      <div class="div-card-clientes div-card-cliente-{{ cliente.id }} mx-2 px-1 d-none">
        <div class="row">
          <div class="col">
            <!--h6>ID: {{ cliente.id }} - {{ cliente.nome }}</h6-->
            <strong class="text-secondary fst-italic">CNPJ: {{ cliente.cnpj }}</strong>
            <p class="fw-lighter mb-0">
                Endereço: {{ cliente.endereco }} - {{ cliente.bairro }}<br />
                Cidade {{ cliente.cidade }} - {{ cliente.estado }}<br />
                CEP: {{ cliente.cep }}
            </p>
          </div>
          <div class="col">
            <small><strong>Contato: {{ cliente.contato }}</strong></small>
            <p class="mb-0">
              tel: {{ cliente.telefone }}<br />
              e-mail: {{ cliente.email }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <!-- REPRESENTANTE -->
    <div class="col-lg-5 p-4">
      <h5 class="fw-bold text-warning">Representante</h5>
      <input type="text" class="form-control" value="{{ representante.nome }}" disabled readonly>
      <input type="hidden" id="input-representante-id" name="input-representante-id" value="{{ representante.id }}">
    </div>
  </div>

  <div class="row border border-warning shadow m-2 mb-4">
    <!-- CARDS DOS PRODUTOS -->
    <div class="col-lg-6 p-4">
      <h5 class="fw-bold text-warning">Produtos</h5>
      <div class="row overflow-y-auto card-produtos" style="height: 600px; scrollbar-width: thin;">
        {% for produto in produtos %}
        <div class="col-md-6 p-2">
          <div class="card border-warning h-100">
            <div class="card-header bg-warning-subtle">
              <h6 class="card-title">{{ produto.descricao }}</h6>
            </div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-body-secondary">{{ produto.marca }}</h6>
              <small><strong>{{ produto.categoria }}</strong></small><br />
              preço: R$ <span class="dinheiro">{{ produto.preco_venda | localize }}</span>
            </div>
            <div class="card-footer">
              <div class="input-group" id="div-produto-{{ produto.id }}" data-id="{{ produto.id }}" data-descricao="{{ produto.descricao }}" data-preco="{{ produto.preco_venda }}">
                <button class="btn btn-outline-secondary px-3" type="button" onclick="atualizar_pedido('{{ produto.id }}', -1)"><i class="fa-solid fa-minus"></i></button>
                <input type="text" class="form-control text-center" id="input-produto-{{ produto.id }}" value="0" readonly>
                <button class="btn btn-outline-secondary px-3" type="button" onclick="atualizar_pedido('{{ produto.id }}', 1)"><i class="fa-solid fa-plus"></i></button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- TABELA DOS PEDIDOS -->
    <div class="col-lg-6 p-4">
      <h5 class="fw-bold text-warning">Pedidos</h5>
      <table class="table shadow mb-4" id="table-pedido">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Produto</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Total R$</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
        </tbody>
      </table>

      <div class="input-group input-group-lg">
        <span class="input-group-text shadow">Total R$</span>
        <input type="text" class="form-control shadow" id="input-total" name="input-total" value="0,00" readonly>
        <button class="btn btn-primary shadow" type="button" onclick="salvar()">Salvar</button>
      </div>
      
      <div class="mt-3 me-2 float-end">
        <a href="{% url 'venda:list' %}">Voltar</a>
      </div>
    </div>
  </div>
</form>

<!-- MODAL MENSAGEM DE ERRO -->
<div class="modal fade" id="modal-validacao" tabindex="-1">
  <div class="modal-dialog">
    <div class="alert alert-danger">
      <div class="modal-header border-0 p-1">
        <h5 class="modal-title text-danger-emphasis">Erro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <p class="m-1" id="modal-validacao-texto"></p>
    </div>
  </div>
</div>

<script src="{% static 'form.js' %}"></script>