{% extends "base.html" %}
{% load l10n %}

{% block content %}
<!-- REPRESENTANTE -->
<div class="mb-4 p-2">
  <h5 class="fw-bold text-warning">Representante</h5>
  <input type="text" class="form-control" value="{{  representante.nome  }}" disabled readonly>
</div>

{% if message %}
<div class="alert alert-success alert-dismissible position-absolute top-0 start-50 translate-middle-x mt-5 shadow-lg" onclick="close()">
  <div class="m-2">{{ message }}</div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<script>
  const close = () => {
    bootstrap.Alert.getOrCreateInstance(document.querySelector(".alert")).close()
  }
  setTimeout(() => {
    close()
  }, 5000)
</script>
{% endif %}

<div class="mb-4 p-2">
  <h5 class="fw-bold text-warning">Pedidos - <small><a class="fw-lighter" href="{% url 'venda:create' %}">Novo Registro</a></small></h5>
  <table class="table table-hover table-striped shadow">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Representante</th>
        <th scope="col">Cliente</th>
        <th scope="col">Horário</th>
        <th scope="col">Total R$</th>
        <th scope="col">Etapa</th>
        <th colspan="3" style="width:5%; text-align: center;"></th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for pedido in pedidos %}
      <tr>
        <th scope="row">{{ pedido.id }}</th>
        <td>{{ pedido.representante }}</td>
        <td>{{ pedido.cliente.nome }}</td>
        <td>{{ pedido.horario | date:'d/m H:i' }}</td>
        <td>{{ pedido.total | localize }}</td>
        <td>{{ pedido.etapa }}</td>
        <td style="text-align: center;">
          {% if can_confirm %}
          {% if pedido.etapa == 'enviado' or pedido.etapa == 'criado' %}
          <a href="{% url 'venda:confirm' id=pedido.id %}" onclick="return confirm('Você tem certeza?')" title="Confirmar">
            <i class="fa fa-square-check"></i>
          </a>
          {% endif %}
          {% elif pedido.etapa == 'criado' %}
          <a href="{% url 'venda:send' id=pedido.id %}" onclick="return confirm('Você tem certeza?')" title="Enviar">
            <i class="fa fa-paper-plane"></i>
          </a>
          {% endif %}
        </td>
        <td style="text-align: center;">
          <a href="{% url 'venda:detail' id=pedido.id %}" title="Visualizar">
            <i class="fa fa-eye" aria-hidden="true"></i>
          </a>
        </td>
        <td style="text-align: center;">
          {% if pedido.etapa == 'criado' %}
          <a href="{% url 'venda:update' id=pedido.id %}" title="Editar">
            <i class="fa fa-edit" aria-hidden="true"></i>
          </a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <nav class="float-end">
    <ul class="pagination">
      {% if pag.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?p=1">
          <i class="fa-solid fa-angles-left"></i>
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?p={{ pag.previous_page_number }}">
          {{ pag.previous_page_number }}
        </a>
      </li>
      {% endif %}
      <li class="page-item active">
        <a class="page-link" href="javascript:void(0)">{{ pag.number }}</a>
      </li>
      {% if pag.has_next %}
      <li class="page-item">
        <a class="page-link" href="?p={{ pag.next_page_number }}">
          {{ pag.next_page_number }}
        </a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?p={{ pag.paginator.num_pages }}">
          <i class="fa-solid fa-angles-right"></i>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}