{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'track.css' %}">

<div class="row border border-warning shadow m-2 mb-4">
  <div class="col p-5">
    <div id="tracking-pre"> Previsão da entrega: {{ rastreio.previsao }}</div>

    <div id="tracking">
      <div class="text-center tracking-status-intransit">
        <p class="tracking-status text-tight">{{ rastreio.etapa_atual }}</p>
      </div>

      <div class="tracking-list">
        {% for etapa in rastreio.etapas_rastreio reversed %}
          <div class="tracking-item">
            <div class="tracking-icon {{ etapa.icon_color }}">
              <i class="fa {{ etapa.icon }}"></i>
            </div>
            <div class="tracking-date">{{ etapa.horario | date:'d/m/Y' }}
              <span>{{ etapa.horario | date:'h:i A' }}</span>
            </div>
            <div class="tracking-content">{{ etapa.titulo }}
              <span>{{ etapa.descricao }}</span>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>

<form method="post">
  {% csrf_token %}
  <div class="row border border-warning shadow m-2 mb-4">
    <div class="col p-5">
      <h5 class="fw-bold text-warning">Inserir etapa</h5>

      <select class="form-select mb-3" id="select-nova-etapa" name="select-nova-etapa">
        <option value="" selected>Selecione a próxima etapa</option>
        {% for etapa in etapas %}
        <option value="{{ etapa.id }}">{{ etapa.id }} - {{ etapa.titulo }}</option>
        {% endfor %}
      </select>
      <input type="submit" value="Salvar" class="btn btn-primary">

    </div>
  </div>
</form>

{% endblock %}